@charset "UTF-8";
body {
  font-family: PingFang TC, Helvetica Neue, Microsoft JhengHei;
}

.header {
  width: 100%;
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header li {
  list-style: none;
  position: absolute;
}
.header .coverbg1 {
  width: 100%;
  height: 450px;
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
  -webkit-animation-name: bannerAnimation;
          animation-name: bannerAnimation;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.header .coverbg2 {
  width: 100%;
  height: 450px;
  background: url("../img/bg01.jpg") no-repeat center center;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.header .title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
  font-weight: 700;
  font-style: italic;
  font-size: 55px;
  letter-spacing: 1px;
  z-index: 1;
  text-shadow: 13px 13px 10px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes bannerAnimation {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  /* 變換背景時間縮短在 10% 內，50% - 90% 是第二張圖 */
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bannerAnimation {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  /* 變換背景時間縮短在 10% 內，50% - 90% 是第二張圖 */
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
select.city {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  flex: 1;
  padding: 10px 20px;
  color: #000000;
  font-size: 18px;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}

.selectbox {
  width: 250px;
  height: 50px;
  margin: 20px 0px;
  z-index: 1;
  display: flex;
  position: relative;
}
.selectbox::after {
  width: 50px;
  height: 50px;
  content: "▼";
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0px 10px 10px 0px;
  pointer-events: none;
  transition: 0.25s all ease;
  text-align: center;
  line-height: 40px;
}
.selectbox:hover::after {
  color: #3f51b5;
}

.noresult {
  text-align: center;
  font-size: 30px;
}

.noresult,
.showsearch {
  padding-top: 40px;
  padding-bottom: 40px;
}

.showsearch {
  display: none;
}

.item {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px 0px;
  border-radius: 10px;
  height: 200px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  display: flex;
}
.item img {
  width: 25%;
  height: auto;
  flex: 1;
}
.item .info {
  width: 75%;
  padding-left: 20px;
  font-size: 16px;
}
.item span.title {
  font-size: 18px;
  font-weight: bold;
}

.description {
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@media (max-width: 767px) {
  .header,
.coverbg1,
.coverbg2 {
    height: 280px;
  }
  .header .title {
    font-size: 30px;
    font-weight: normal;
  }
  .selectbox {
    width: 150px;
  }
  .item {
    height: 450px;
    flex-direction: column;
    margin: 20px;
  }
  .item img,
.item .info {
    width: 100%;
  }
  .item img {
    height: 200px;
  }
  .item .info {
    padding-top: 10px;
    padding-left: 0px;
  }
  .description {
    height: 135px;
    -webkit-line-clamp: 6;
  }
  .noresult,
.showsearch {
    padding-top: 20px;
  }
}
@media (max-width: 960px) {
  .item {
    margin: 20px;
  }
}/*# sourceMappingURL=style.css.map */